body {
    background-color: #B388FF;
}

#nav {
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1280px;
    margin: 0 auto;
}
.nav-li {
    cursor: pointer;
    font-size: 2rem;
    padding: 10px 40px;
    font-family: 'Source Sans Pro', sans-serif;
    border-bottom: 0px solid black;
    transition: border-width ease-in-out 0.1s;
}
.nav-li:hover {
    border-width: 2px;
}
.nav-li.menu-active{
    color: #fff;
    border-bottom: 2px solid #fff;
}
#main {
    overflow: hidden;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
}
.container {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-flex;
    transition: left cubic-bezier(0.42, 0, 0.12, 1.01) 0.3s;
}
.box {
    overflow: scroll;
    width: 1000px;
    height: 400px;
}
#profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.profile-img {
    margin: 25px 0;
    width: 200px;
    border-radius: 50%;
}
.profile-desc{
    margin-left: 75px;
    font-size: 2rem;
    font-family: 'Noto Serif KR', serif;
    text-align: center;
}
.profile-desc h5 {
    margin: 25px 0;
}
.profile-desc p {
    width: 350px;
}
#skill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.skill-logo {
    width: 200px;
}
#portfolio {
}